*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header img{
    width: 60px;
}

header ul{
    display: flex;
   
    list-style: none;
  
   
}

header ul li{
    margin-right: 20px;
    
}

header a{
    text-decoration: none;
    color: black;
}