*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



img{
  width: 200px;
  height: 200px;
  margin-top: 20px;
    border-radius: 50%;
    
}
.container{
  display: flex ;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
}

.plug{

    padding: 20px; 
    width: 300px;
    min-height: 420px; 
    background-color: white;
    margin: auto;
    margin-top: 50px;
    margin-right:10px;
    margin-left:10px;
    text-align: center;
    border-radius:5%;
    border: 1px solid grey;
    box-shadow: 1px 1px 2px grey;
    
}

button{
  border: none;
margin: 20px 0px;
  
    padding: 10px 40px;
    font-size: 16px;
    font-weight:
    border-radius 5%;
     background-color:rgb(0, 81, 255);
}
.plug:hover{
    background-color: grey;
    color: white;
    transition: 0.5s;
    
}

 

