*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header ul li{
    margin-right: 20px;
}
  header a{
    text-decoration: none;
    color: black;

}
body{
    background-color:none;
    font-family: "Manrope", sans-serif;
}
header{
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom:  1px solid black;
}
header img{
    width: 150px;
}
header ul{
    display: flex;
   
    list-style: none;
}
section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 44px;
}
section p{
    margin: 24px 0;
}
#grey{
    background:black;
    border: 10px solid black;
    color: white;
}
#bg{
    background-color:lightyellow;
}
  
   
